<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我写的文章</title>
</head>
<body>
    <div>
        我喜欢写博客, 喜欢分享。我的博客地址: <a href="http://www.ido321.com" target="_blank">淡忘~浅思</a>
    </div>
    <p>
        我学习前端快一年了, 翻译了一本前端手册，希望对你有帮助: <a href="https://dwqs.gitbooks.io/frontenddevhandbook/content/" target="_blank">前端开发手册</a>
    </p>
    <ul>
        <li>
            <a href="/index">主页</a>
        </li>
        <li>
            <a href="/about">关于我</a>
        </li>
    </ul>
</body>
</html>